
render/.DS_Store
render/LampadeUV_3DRAG_2020-Nov-30_05-07-35PM-000_CustomizedView17791051018_png.png
render/Untitled_-_Senza_Ugello_2020-Nov-30_05-07-43PM-000_CustomizedView17801991614_png.png
CAD model/.DS_Store
.DS_Store
render/cover.ai
